<div class="flex-container">
    <div class="text-area">
        <h1 class="heading">Neque porro <span class="color-P">quisquam</span>  dolorem</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus numquam rem optio fugiat explicabo exercitationem repellat officia maiores ducimus hic! Ullam labore fugiat voluptas, aperiam suscipit illum fuga quo molestias!</p>
    </div>
    <div class="category-area">
        <div class="category">
            <div class="cat-icon">
                <img src="../../../../../../assets/slicing/form.svg" alt="">
            </div>
            <div class="cat-title">
                <h2 class="heading">Neque Porro</h2>
                <hr>
            </div>
            <div class="cat-text">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. tate doloremque, modi sed quasi deleniti reiciendis. Ab labore odio fugit doloribus.</p>
            </div>
        </div>
        <div class="category">
            <div class="cat-icon">
                <img src="../../../../../../assets/slicing/form.svg" alt="">
            </div>
            <div class="cat-title">
               <h2 class="heading">Neque Porro</h2>
               <hr>
            </div>
            <div class="cat-text">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. tate doloremque, modi sed quasi deleniti reiciendis. Ab labore odio fugit doloribus.</p>
            </div>
        </div>
        <div class="category">
            <div class="cat-icon">
                <img src="../../../../../../assets/slicing/form.svg" alt="">
            </div>
            <div class="cat-title">
               <h2 class="heading">Neque Porro</h2>
               <hr> 
            </div>
            <div class="cat-text">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. tate doloremque, modi sed quasi deleniti reiciendis. Ab labore odio fugit doloribus.</p>
            </div>
        </div>
    </div>
</div>