<div class="flex-container-parent">
    <div class="flex-item-left">
        <div class="heading-image-wrapper">
            <img src="../../../../../../assets/slicing/green-secure-white.png" alt="">
        </div>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam beatae magnam maiores amet, facere quos aliquid est fuga nulla non aut iste dolor, ipsa nostrum provident fugit asperiores nisi cum?</p>
    </div>
    <div class="flex-item-right">
        <div class="flex-container-child">
            <div class="flex-item">
                <h3 class="footer-heading">Company</h3>
                <div class="link">link</div>
                <div class="link">link</div>
                <div class="link">link</div>
                <div class="link">link</div>
                <div class="link">link</div>
                <div class="link">link</div>
                <div class="link">link</div>
            </div>
            <div class="flex-item">
                <h3 class="footer-heading">Services</h3>
                <div class="link">link</div>
                <div class="link">link</div>
                <div class="link">link</div>
                <div class="link">link</div>
                <div class="link">link</div>
                <div class="link">link</div>
                <div class="link">link</div>
            </div>
            <div class="flex-item">
                <h3 class="footer-heading">Addresses</h3>
                <div class="link">link</div>
                <div class="link">link</div>
                <div class="link">link</div>
            </div>
        </div>
    </div>
</div>
