<div class="header-wrapper">
    
    <div class="brand">
        <div class="brand-wrapper">
            <a [routerLink]="['/']">Green Secure</a>
        </div>

    </div>

    <div class="nav-area">
        <div class="flex-container">
            <div class="flex-item header-link" > <a>Home</a> </div>
            <div class="flex-item header-link" > <a>Features</a> </div>
            <div class="flex-item header-link" > <a>Work</a> </div>
            <div class="flex-item header-link" > <a>About</a> </div>
            <div class="flex-item header-link" > <a>People</a> </div>
            <div class="flex-item header-link" > <a>News</a> </div>
            <div class="flex-item header-link " > <button class="sign-in-button" type="button" mat-raised-button color='accent'>Sign Up</button> </div>
        </div>
    </div>

</div>