.flex-container {
    display: flex;
    flex-flow: row nowrap;
    padding: 50px 100px;
}
.flex-item {
    flex: 0 1 50%;
    padding: 30px;
}
.left-area {
    .heading-area {
        background: url('../../../../../../assets/slicing/circle.png');
        background-repeat: no-repeat;
        background-size: 100px 100px;
        margin-left: -20px;
        .heading {
            font-weight: 800;
            font-size: 3rem;
            padding: 20px 20px 25px 20px;
        }
    }
    p {
        color: grey;
    }
    
}
.right-area {
    padding-top: 80px;
    .form-wrapper {
        display: flex;
        flex-flow: column nowrap;
        .field-wrapper {
            mat-form-field {
                width: 100%;
            }
            button {
                width: 100%;
                border-radius: 30px;
                color: white;
            }
        }
    }
}
