<div class="flex-container">
    <div class="flex-item left-area">
        <div class="heading-area">
            <h1 class="heading">Repudiandae</h1>
        </div>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio quis accusantium quasi quo similique esse aliquam quam labore quae eius ab sequi ullam accusamus, id sit expedita eligendi autem ea.</p>
        <h2 class="heading-small">Aspernatur</h2>
        <p>123 earum rerum hic tenetur a sapiente delectus ,42</p>
        <h2 class="heading-small">Reiciendis</h2>
        <p>+1 (243) 567 89 01</p>
        <p>mairos@info.com</p>
    </div>
    <div class="flex-item right-area">
        <h2 class="heading-small">Alias consequater</h2>
        <form action="">
            <div class="form-wrapper">
                <div class="field-wrapper">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Your Name">
                    </mat-form-field>
                </div>
                <div class="field-wrapper">
                    <mat-form-field>
                        <input type="text" matInput placeholder="Email Address">
                    </mat-form-field>
                </div>
                <div class="field-wrapper">
                    <mat-form-field>
                        <textarea name="" id="" cols="30" rows="5" matInput placeholder="Your Massage"></textarea>
                    </mat-form-field>
                </div>
                <div class="field-wrapper">
                    <button mat-raised-button type="button" color="primary">Send</button>
                </div>
            </div>
            
        </form>
    </div>
</div>