<div class="background-container">
    <div class="flex-container">
        <div class="text-area">
            <h1 class="heading">Block Chain Development Company</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum iste in dolore, vel nostrum praesentium voluptatibus maiores quisquam incidunt dolores eaque minima quod voluptatem corporis, hic asperiores magnam. Deleniti, dolorum.</p>
            <button mat-raised-button color="accent" id="explore-button">Explore</button>
        </div>
    </div>
</div>
