<div class="container">
    <div class="text-area">
        <div class="heading-area">
            <h1 class="heading">Neque porro Delorem</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum delectus repudiandae eum sint totam officiis, quaerat quam nisi optio vel eligendi consequuntur obcaecati sit fugit earum. Recusandae, animi iusto. Exercitationem?</p>
        </div>
        <div class="type-area">
            <div class="type">
                <div class="icon-area">
                    <fa-icon [icon]="iconPack.search" size="6x"></fa-icon>
                </div>
                <div class="text-area">
                    <h2>Heading</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ipsam labore debitis obcaecati. A, aliquid libero eligendi except</p>
                </div>
            </div>
            <div class="type">
                <div class="icon-area">
                    <fa-icon [icon]="iconPack.search" size="6x"></fa-icon>
                </div>
                <div class="text-area">
                    <h2>Heading</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ipsam labore debitis obcaecati. A, aliquid libero eligendi except</p>
                </div>
            </div>
            <div class="type">
                <div class="icon-area">
                    <fa-icon [icon]="iconPack.search" size="6x"></fa-icon>
                </div>
                <div class="text-area">
                    <h2>Heading</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ipsam labore debitis obcaecati. A, aliquid libero eligendi except</p>
                </div>
            </div>
            <div class="type">
                <div class="icon-area">
                    <fa-icon [icon]="iconPack.search" size="6x"></fa-icon>
                </div>
                <div class="text-area">
                    <h2>Heading</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui ipsam labore debitis obcaecati. A, aliquid libero eligendi except</p>
                </div>
            </div>
        </div>
    </div>
</div>