<div class="container">
    <h1 class="heading">Temporibus autem</h1>
    <div class="flex-container">
        <div class="flex-item">
            <div class="item-container">
                <div class="price-area"><span class="price">7</span><span class="unit">$/month</span></div>
                <h3 class="heading-area">Sunt in culpa</h3>
                    <div>Qui offisira desunt</div>
                    <div>Molitia animi</div>
                    <div>Laborum et dolarum</div>
            </div>
        </div>
        <div class="flex-item ">
            <div class="item-container middle-one">
                <div class="price-area"><span class="price">7</span><span class="unit">$/month</span></div>
                <h3 class="heading-area">Sunt in culpa</h3>
                    <div>Qui offisira desunt</div>
                    <div>Molitia animi</div>
                    <div>Laborum et dolarum</div>
            </div>
        </div>
        <div class="flex-item">
            <div class="item-container">
                <div class="price-area"><span class="price">7</span><span class="unit">$/month</span></div>
                <h3 class="heading-area">Sunt in culpa</h3>
                    <div>Qui offisira desunt</div>
                    <div>Molitia animi</div>
                    <div>Laborum et dolarum</div>
            </div>
        </div>
    </div>
</div>