$primary-color: #34c88a;
.container {
    background-color: #eaeaea;
    padding: 50px 100px;
}
.heading {
    font-size: 3rem;
    color: rgb(58, 58, 58);
    text-align: center;
}
.flex-container {
    display: flex;
    flex-flow: row nowrap;
}
.flex-item {
    flex: 1 1 auto;
    padding: 40px;
    .item-container {
        box-shadow: 0 0 25px rgba(189, 189, 189, 0.226);
        background-color: white;
        padding: 30px;
        text-align: center;
        height: 400px;
        .price-area {
            .price {
                font-size: 4rem;
                font-weight: 800;
            }
        }
    }
    .middle-one {
        background-color: $primary-color;
        color: white;
    }
}

