<div class="background-container">
    <div class="flex-container">
        <div class="flex-right">
            <h2 class="heading">Et harum quidem rerum facilis est</h2>
            <p class="heading-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore eveniet aliquid nihil nobis maxime hic corrupti, iste explicabo inventore autem! Sint impedit deleniti ratione atque adipisci vel, porro dolores natus!</p>
            <div class="category-area">
                <div class="category-icon">
                    <div class="img-wrapper">
                        <img src="../../../../../../assets/slicing/form.svg" alt="">
                    </div>
                </div>
                <div class="category-detail">
                    <div class="heading">cum soluta</div>
                    <div class="detail">nobis est eligendi optio cumque nihil impedit quo minus</div>
                </div>
            </div>
            <div class="category-area">
                <div class="category-icon">
                    <div class="img-wrapper">
                        <img src="../../../../../../assets/slicing/form.svg" alt="">
                    </div>
                </div>
                <div class="category-detail">
                    <div class="heading">cum soluta</div>
                    <div class="detail">nobis est eligendi optio cumque nihil impedit quo minus</div>
                </div>
            </div>
            <div class="category-area">
                <div class="category-icon">
                    <div class="img-wrapper">
                        <img src="../../../../../../assets/slicing/form.svg" alt="">
                    </div>
                </div>
                <div class="category-detail">
                    <div class="heading">cum soluta</div>
                    <div class="detail">nobis est eligendi optio cumque nihil impedit quo minus</div>
                </div>
            </div>
        </div>
    </div>
</div>
